/HW_0/*.log
/HW_0/History
/HW_0/src/__Previews
/HW_0/Project Logs for mgtf
/CPLD_J/build
/CPLD_J/db
/CPLD_J/incremental_db
/CPLD_J/src/*.bak
/Z80sdcc/build
/aumt_test/build
/roms/j.bin
/aumt_test/target.bin
/FW_experiments/build
/FW/core/build
/de0-nano/*.rpt
/de0-nano/incremental_db
/de0-nano/db
/de0-nano/*.done
/de0-nano/*.smsg
/de0-nano/*.summary
/de0-nano/*.jdi
/de0-nano/*.pin
/de0-nano/*.sof
